/* .money-invested {
  background-color: lightgray;
  width: 50%;
  display: flex;
  justify-content: center;
  border: 1px solid blue;
} */
.wtch-pos-container {
  display: flex;
  /* margin: 0.5rem; */
  padding: 40px 80px;
  box-sizing: border-box;
  background-color: #f9f8f7;
  width: 100%;
}
