.graph-container {
  background: #f9f8f7;
  padding: 3px;
}

.graph-display {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 550px;
}
.custom-tooltip {
  border-radius: 0.25rem;
  background: #808386;
  color: #fff;
  padding: 1rem;
  box-shadow: 15px 30px 40px 5px rgba(0, 0, 0, 0.5);
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
